.nav-item.active {
  background-color: #e8f5e9; /* nền xanh nhạt */
  font-weight: bold;
  color: #0a7734;
  border-left: 4px solid #0a7734;
}

.nav-item.active i {
  color: #0a7734;
}

/* Table card */
.card {
  background-color: white;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58,59,69,0.15);
}

.table-header h2 {
  font-size: 1.2rem;
  color: #4e73df;
  margin: 0;
}


/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
  .content-wrapper {
    margin-left: 200px;
  }
}
.avatar-circle {
  width: 36px;
  height: 36px;
  background-color:rgb(29, 157, 59);
  border-radius: 50%;
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  line-height: 36px;
  display: inline-block;
  margin-right: 8px;
}

#userDropdown {
  background-color: #ffffff;
}

.card {
  border-radius: 0.5rem;
  border-left-width: 0.25rem;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}

.text-xs {
  font-size: 0.75rem;
}

.text-gray-800 {
  color: #5a5c69 !important;
}

.text-gray-300 {
  color: #dddfeb !important;
}

.progress-sm {
  height: 0.5rem;
}
/* Border color variants */
.border-left-primary {
  border-left-color: #4e73df;
}

.border-left-success {
  border-left-color: #1cc88a;
}

.border-left-info {
  border-left-color: #36b9cc;
}

.border-left-warning {
  border-left-color: #f6c23e;
}


.sidebar.collapsed + .content-wrapper {
  margin-left: 80px; /* Khi sidebar thu gọn */
}

.row-chart {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.chart-card {
  flex: 1 1 400px;
  background: #fff;
  padding: 1rem;
  border-radius: 0.75rem;
  min-width: 300px;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  height: 400px; 
  display: flex;
  flex-direction: column;
  justify-self: space-between;
}

.chart-card canvas {
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 992px) {
  .sidebar {
    width: 80px;
  }

  .sidebar .nav-text {
    opacity: 0;
    width: 0;
    overflow: hidden;
  }

  .content-wrapper {
    margin-left: 80px;
  }
}

@media (max-width: 768px) {
  .row-chart {
    flex-direction: column;
  }

  .chart-card {
    flex: 1 1 100%;
  }
}

.header {
  flex-wrap: wrap;
}

.header form {
  margin-top: 10px;
  flex-wrap: wrap;
  gap: 0.5rem;
}