    @import url("https://fonts.googleapis.com/css2?family=Birthstone&family=Gravitas+One&family=Lora&family=Playwrite+US+Trad&family=Pacifico&family=WindSong:wght@400;500&display=swap");
html,body {
  font-family: 'Lora', sans-serif;
  background-color:rgb(247, 248, 247);
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color:  #0a5125;
  color: white;
  padding: 1rem 0;
  overflow-y: auto;
  transition: width 0.3s ease;
  z-index: 1000;
  overflow: hidden;
}

.sidebar .brand {
  text-align: center;
  margin-bottom: 1rem;
}

.sidebar .brand-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.sidebar h6 {
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 0.5rem 1.25rem;
  color: #d1d3e2;
}

.sidebar .nav-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1.25rem;
  color: #fff;
  text-decoration: none;
  transition: background 0.2s;
}

.sidebar .nav-item:hover,
.sidebar .nav-item.active {
  background-color:  #0d371e;
  text-decoration: none;
  color: #fff;
}

.sidebar .nav-item .fa-solid {
  width: 1.2rem;
  text-align: center;
}

.sidebar .toggle-btn {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
}

.sidebar .toggle-circle {
  background-color: white;
  color: #4e73df;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  cursor: pointer;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.sidebar .toggle-circle i {
  margin-top: 7px;
}

.sidebar.collapsed {
  width: 80px;
}
.sidebar .nav-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
}

.sidebar .nav-text {
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.sidebar.collapsed .nav-text {
  opacity: 0;
  width: 0;
  overflow: hidden;
}
.sidebar-collapsed .content-wrapper {
  margin-left: 80px;
}

.sidebar-collapsed .header {
  margin-left: 80px;
}

/* Content wrapper */
.content-wrapper {
  margin-left: 250px;
  padding: 1rem 2rem;
  transition: margin-left 0.3s;
  flex: 1;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}


.search-bar {
  display: flex;
  align-items: center;
  background-color: #e9e8e8;
  border: 1px solid #e9e8e8;
  border-radius: 5px;
  overflow: hidden;
}

.search-bar input {
  border: none;
  padding: 0.5rem;
  outline: none;
  background: transparent;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

