.readonly-input {
    pointer-events: none; /* Không thể click vào */
    caret-color: transparent; /* Ẩn con trỏ */
    background-color: #f8f9fa; /* Màu nền nhẹ hơn */
}

.readonly-input:focus {
    outline: none;
}

.back-home-btn {
    position: fixed;
    right: 20px;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 8px;
}