.table-order {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.table-order th:first-child,
.table-order td:first-child {
  width: 10px;
  text-align: center;
}

.col-order {
  width: 80px !important;
}
.col-product {
  width: 180px !important;
}
.col-customer {
  width: 150px !important;
}
.col-date {
  width: 110px !important;
}
.col-total {
  width: 80px !important;
  text-align: right;
}
.col-payment {
  width: 110px !important;
}
.col-status {
  width: 100px !important;
}